body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

img {
    width: 35%;
    border-radius: 35px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    background: rgb(207, 207, 207);
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

label {
    font-weight: bold;
}

input, textarea, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}

button {
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 50%;
}

#color-box {
    width: 50px;
    height: 25px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.genre-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}


iframe {
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}
